/*CONTAINERS CONFIGS*/
/*THIS IS WHAT MAKES THOSE FOUR PARTS OF THE QUADRANT*/
.header-container,
.section-container {
  display: flex;
}

.image-container/*x2*/,
.hero-container,
.h1-container {
  width: 100%;
}

/*H1 + LUXURY FLORAL SENTENCE*/
.h1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*HERO PARAGRAPH*/
.hero-container p {
  text-align: left;
}

/*POETIC QUADRANT QUOTE*/
.flower-quote {
  font-family: "Allura";
  font-size: 1.8rem;
  border-top: 2px solid #b924b4;
  margin: 10px;
  margin-top: 30px;
}

/*PHONE AND TABLETS*/
@media (max-width: 768px) {
  .header-container,
  .section-container {
    display: block;
  }

  .section-container img {
    display: none;
  }
}
