/*COLORS*/
/*#B924B4 - purple*/
/*#a3472a - orange*/

/*BODY*/
body {
  background-color: #cfc5bb;
  color: black;
}
/*H1 H2 H3 P*/
h1,
h2,
h3 {
  font-family: "Beau Rivage";
  color: #a3472a;
  margin: 10px;
  padding: 10px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #212121;
  margin: 10px;
}

/*FOOTER*/
footer {
  background-color: #681900;
}

/*ALL IMAGES*/
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*CARDS*/
.card-section {
  background-color: #dad3c1;
}

.card-container {
  margin: 10px;
  display: flex;
  gap: 10px;
}

.card {
  background-color: #e8d8c3;
  display: flex;
  flex-direction: column;

  margin-top: 25px;
  padding: 10px;
  width: 80%;
  border: 2px, solid, black;
  border-radius: 5px;
}

.card img {
  height: 60px;
  width: 60px;
}

.card h3 {
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 1rem;
}

/*CONTAINERS CONFIGS*/
.header-container,
.section-container {
  display: flex;
  justify-content: space-between;
}

.image-container,
.hero-container,
.h1-container {
  width: 100%;
}

/*H1 and LUXURY FLORAL SENTENCE*/
.h1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*HERO PARAGRAPH*/
.hero-container p {
  text-align: left;
}

/*POETIC PART QUOTE*/
.flower-quote {
  font-family: "Allura";
  font-size: 1.8rem;
  border-top: 2px solid #a3472a;
  margin: 10px;
  margin-top: 30px;
}

/*REVIEW FROM JOHN AND SARAH*/
.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f4ef;
  height: 200px;
}

.quote-container p {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.8rem;
  padding: 10px;
  font-weight: 600;
}

/*CONTACT INFORMATION*/
.address-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.address {
  display: flex;
  align-items: center;
}

.address a,
.address p {
  color: #cfc5bb;
  text-decoration: none;
  margin: 0;
}

/*PHONE AND TABLETS(S)*/
@media (max-width: 768px) {
  .header-container,
  .section-container,
  .card-container {
    display: block;
  }
  .card {
    margin: auto;
    margin-top: 10px;
  }
  h1 {
    font-size: 2.8rem;
  }
  .address-container {
    flex-direction: column;
    align-items: center;
  }

  .section-container img {
    display: none;
  }
}
