/*CONTACT INFORMATION*/
.address-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.address {
  display: flex;
  align-items: center;
}

.address a,
.address p {
  color: #212121;
  text-decoration: none;
  margin: 0;
  font-family: "inter";
}

/*PHONE AND TABLETS(S)*/
@media (max-width: 768px) {
  .address-container {
    flex-direction: column;
    align-items: center;
  }
}
